@import "src/styles/variables.scss";

.ant-card-body {
  padding: 13px;
}

.ant-card-meta {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;

}

.ant-card-meta-detail {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
}

.ant-card-meta-avatar {
  /* float: left; */
  padding-right: 16px;
  padding-top: 7px;
}

.ant-card-meta-title{
  h2{
    margin-bottom: 0;
  }
}

.ant-card {
  background: $primary_black;
}

.post_card {
  .postImg {
    height: 400px;
    background-repeat: no-repeat!important;
    background-size: cover!important;
    background-position: center!important;
  }
}