@import "src/styles/variables.scss";
.App {
  text-align: center;
  background-color:$primary_dark_blue;
  min-height: 100vh;
  box-sizing: border-box;
  color:white!important;
}

.ant-typography, p{
  color:white!important;
}
.ant-card-meta-description {
  color:white;
}

.button-post{
  position: fixed;
  width: 4rem!important;
  height: 4rem!important;
  z-index: 10;
  bottom: 2rem;
  right: 2rem;
  
}


h1,h2,h3,h4,h5,a{
  color:$primary_white!important;
}

hr {
  border: 0;
  background-color:$primary_white;
  height: 1px;
}
