@import "src/styles/variables.scss";
.App {
  text-align: center;
  background-color:$primary_dark_blue;
  min-height: 100vh;
  box-sizing: border-box;
  color:white!important;
}

.ant-typography, p{
  color:white!important;
}
.ant-card-meta-description {
  color:white;
}

.button-dev{
  background-color:rgba(255, 255, 255, 0);
  color:$primary_green;
  border: 1px solid $primary_green;
  font-weight: 500;
}

.button-dev:hover,.button-dev:active,.ant-btn:hover, .ant-btn:focus{
  border: 1px solid $primary_green_dark;
  background-color:$primary_green_dark;
  color:$primary_white;
}

.button-dev:active{
  background-color:$primary_green_dark!important;
}


h1,h2,h3,h4,h5{
  color:$primary_white;
}


hr{
  border:none;
  height: 1px;
  background-color:$primary_white;
}

.ant-input:focus, .ant-input-focused {
  border-color: $primary_green;
  border-right-width: 1px !important;
  outline: 0;
  -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  box-shadow: 0 0 0 2px $primary_green;
}

