@import "src/styles/variables.scss";

.user-profile {
  display: flex;
  flex-direction: column;

  &-data {
    margin-top: 2rem;
  }

  &-info {
    display: flex;
    flex-direction: column;
    border: 2px solid white;
    margin-top: 2rem;
    padding: 1rem;
    align-items: flex-start;
    background-color: $primary_blue;

    p {
      font-size: 1.2rem;
      color: $primary_green !important;
    }
  }

  &-image {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-upload-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 101px;
    height: 101px;
    border-radius: 100px;
    background-color: $primary_blue;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 1;
  }

  &-upload-icon:hover {
    transition: all .2s ease-out;
    opacity: 1;
  }
}

.avatar-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1000;
  width: 115px;
  height: 115px;
  background-position: center;
  background-size: cover;
  border-radius: 100px;
  padding: 0;
}


.ant-upload.ant-upload-select-picture-card {
  border-radius: 100px;
  background-color: #232946;
  border: none;

}