.single-comment {
  display: flex;
  margin-bottom: 2rem;

  &-right {
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    p{
      text-align: left;
    }
  }

  &-info {
    display: flex;
    align-items: center;

    span {
      margin-left: 1rem;
      margin-bottom: .5rem;
    }
  }

  &-bottom{
    display: flex;
    align-items:center;
    button{
      margin-left: 1rem;
    }
  }

  &-text{
    font-size: 1.2rem;
    padding: 1rem;
    border: .3px solid rgba(255, 255, 255, 0.612);
    width: 100%;
  }
}