@import "src/styles/variables.scss";

.card-title {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}

.sign-in-up {
  margin-bottom: 2rem;
}

.ql-container {
  min-height: 20rem;
  background-color: $primary_blue;
}

.input-style {
  font-size: 1.5rem;
  color: white;
  font-weight: 500;
  background-color: $primary_blue;
}

.ql-picker-label {
  background-color: $primary_dark_blue;
}

.ant-tag {
  font-size: 1.3rem;
  padding: .3rem;
  padding-bottom: .4rem;
  margin: .3rem;
}

.ql-toolbar.ql-snow .ql-formats {
  margin-right: 3px;
}

// .ql-toolbar .ql-stroke {
//   fill: none;
//   stroke: #fff;
// }

// .ql-toolbar .ql-fill {
//   fill: #fff;
//   stroke: none;
// }

// .ql-toolbar .ql-picker {
//   color: #fff;
// }

// .ql-formats .ql-fill {
//   fill: #fff !important;
//   stroke: none;
// }

// .ql-picker-item {
//   color: $primary_blue;
// }

// .ql-editor {
//   font-size: 1.3rem;
// }