@import "src/styles/variables.scss";

.header-main{
  padding: .7rem 1rem;
  background-color:$primary_black;
  h3{
    color:$primary_white;
  }

  &-dropdown{
    width: 25rem;
    padding: 1rem;
    padding-right: 0;
  }

  &-menu{
    background-color:$primary_blue;
    padding: 1rem .5rem;
    
    li a{
      color:white;
      font-size: 1.2rem;
    }
  }
}

.logo{
  margin: 0;
  text-decoration: double;
  font-size: 2rem;
  width: 5rem;
  padding: .3rem 0;
  padding-bottom: 0.6rem;
  background-color:black;
  line-height: normal;
  border-radius: 5px;
}

@media screen and (max-width:700px) {
  .header-main{
  
    h3{
     display: none;
    }
  }
}