@import "src/styles/variables.scss";

.single_post {
  min-height: 100vh;

  &-header {
    background-color: $primary_blue;
    padding: 1rem 3rem;
  }

  &-image {
    background-size: cover;
    background-position: center;
    height: 30rem;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
  }

  &-title {
    text-align: left;
    padding: 1rem 0rem;
    margin: 0;
    font-size: 3rem;
    font-weight: 700;
    line-height: 1.1;
  }

  &-date {
    margin-top: 4px;
    color: rgba(255, 255, 255, 0.5);
    font-size: .9rem;
    margin-left: .5rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &-user_name {
    display: flex;
    margin-left: .8rem;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1;
  }

  &-user_info {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    line-height: 1;
  }

  &-quill .ql-toolbar {
    display: none;
  }

  &-quill .ql-container .ql-editor {
    padding: 1rem 3rem 3rem;
    border-radius: 3px;
    font-size: 1.2rem;
  }


}