@import "src/styles/variables.scss";
.App {
  text-align: center;
  background-color:$primary_violet;
  min-height: 100vh;
  box-sizing: border-box;
  color:white!important;
}

.ant-typography, p{
  color:white!important;
}
.ant-card-meta-description {
  color:white;
}

.button-post{
  position: fixed;
  z-index: 10;
  bottom: 2rem;
  right: 2rem;
}


