@import "src/styles/variables.scss";
.App {
  text-align: center;
  background-color:$primary_dark_blue;
  min-height: 100vh;
  box-sizing: border-box;
  color:white!important;
}

.ant-typography, p{
  color:white!important;
}
.ant-card-meta-description {
  color:white;
}


